

    #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active,
    #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active:hover,
    body #booked-profile-page input[type=submit].button-primary:hover,
    body .booked-list-view button.button:hover,
    body .booked-list-view input[type=submit].button-primary:hover,
    body table.booked-calendar input[type=submit].button-primary:hover,
    body .booked-modal input[type=submit].button-primary:hover,
    body table.booked-calendar th,
    body table.booked-calendar thead,
    body table.booked-calendar thead th,
    body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
    body #booked-profile-page .booked-profile-header,
    body #booked-profile-page .booked-tabs li.active a,
    body #booked-profile-page .booked-tabs li.active a:hover,
    body #booked-profile-page .appt-block .google-cal-button>a:hover,
    #ui-datepicker-div.booked_custom_date_picker .ui-datepicker-header {
        background: #002e5b !important;
    }

    body #booked-profile-page input[type=submit].button-primary:hover,
    body table.booked-calendar input[type=submit].button-primary:hover,
    body .booked-list-view button.button:hover,
    body .booked-list-view input[type=submit].button-primary:hover,
    body .booked-modal input[type=submit].button-primary:hover,
    body table.booked-calendar th,
    body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
    body #booked-profile-page .booked-profile-header,
    body #booked-profile-page .appt-block .google-cal-button>a:hover {
        border-color: #002e5b !important;
    }

    body table.booked-calendar tr.days,
    body table.booked-calendar tr.days th,
    body .booked-calendarSwitcher.calendar,
    body #booked-profile-page .booked-tabs,
    #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead,
    #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead th {
        background: #6c98e1 !important;
    }

    body table.booked-calendar tr.days th,
    body #booked-profile-page .booked-tabs {
        border-color: #6c98e1 !important;
    }

    #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a,
    #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a:hover,
    body #booked-profile-page input[type=submit].button-primary,
    body table.booked-calendar input[type=submit].button-primary,
    body .booked-list-view button.button,
    body .booked-list-view input[type=submit].button-primary,
    body .booked-list-view button.button,
    body .booked-list-view input[type=submit].button-primary,
    body .booked-modal input[type=submit].button-primary,
    body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
    body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block,
    body #booked-profile-page .appt-block .google-cal-button>a,
    body .booked-modal p.booked-title-bar,
    body table.booked-calendar td:hover .date span,
    body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
    body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover,
    .booked-ms-modal .booked-book-appt

    /* Multi-Slot Booking */
        {
        background: #6c98e1;
    }

    body #booked-profile-page input[type=submit].button-primary,
    body table.booked-calendar input[type=submit].button-primary,
    body .booked-list-view button.button,
    body .booked-list-view input[type=submit].button-primary,
    body .booked-list-view button.button,
    body .booked-list-view input[type=submit].button-primary,
    body .booked-modal input[type=submit].button-primary,
    body #booked-profile-page .appt-block .google-cal-button>a,
    body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
    body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
    body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover {
        border-color: #6c98e1;
    }

    body .booked-modal .bm-window p i.fa,
    body .booked-modal .bm-window a,
    body .booked-appt-list .booked-public-appointment-title,
    body .booked-modal .bm-window p.appointment-title,
    .booked-ms-modal.visible:hover .booked-book-appt {
        color: #6c98e1;
    }

    .booked-appt-list .timeslot.has-title .booked-public-appointment-title {
        color: inherit;
    }



img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}


.woocommerce form .form-row .required {
    visibility: visible;
}



body #wrapper .fa.fa-facebook {
    font-family: 'Font Awesome 5 Brands' !important;
}



body #wrapper .fa.fa-map-marker {
    font-family: 'FontAwesome' !important;
}

body .fa.fa-map-marker:before {
    content: "\f041"
}



.page_title {
    background-repeat: no-repeat !important;
    background-image: url() !important;
}

.mtc,
.mtc_h:hover {
    color: #002e5b !important
}

.stc,
.stc_h:hover {
    color: #6c98e1 !important
}

.ttc,
.ttc_h:hover {
    color: #fde428 !important
}

.mbc,
.mbc_h:hover,
.stm-search .stm_widget_search button {
    background-color: #002e5b !important
}

.sbc,
.sbc_h:hover {
    background-color: #6c98e1 !important
}

.tbc,
.tbc_h:hover {
    background-color: #fde428 !important
}

.mbdc,
.mbdc_h:hover {
    border-color: #002e5b !important
}

.sbdc,
.sbdc_h:hover {
    border-color: #6c98e1 !important
}

.tbdc,
.tbdc_h:hover {
    border-color: #fde428 !important
}

.rev_slider li.tp-revslider-slidesli.third_bg_color,
.third_bg_color {
    background-color: #ff8e1b !important;
}



.elementor-widget-video .eicon-play {
    border-color: #fde428;
    background-color: #fde428;
}

.elementor-widget-wp-widget-nav_menu ul li,
.elementor-widget-wp-widget-nav_menu ul li a {
    color: #002e5b;
}

.elementor-widget-wp-widget-nav_menu ul li.current-cat:hover>a,
.elementor-widget-wp-widget-nav_menu ul li.current-cat>a,
.elementor-widget-wp-widget-nav_menu ul li.current-menu-item:hover>a,
.elementor-widget-wp-widget-nav_menu ul li.current-menu-item>a,
.elementor-widget-wp-widget-nav_menu ul li.current_page_item:hover>a,
.elementor-widget-wp-widget-nav_menu ul li.current_page_item>a,
.elementor-widget-wp-widget-nav_menu ul li:hover>a {
    border-left-color: #6c98e1;
}

div.elementor-widget-button a.elementor-button,
div.elementor-widget-button .elementor-button {
    background-color: #002e5b;
}

div.elementor-widget-button a.elementor-button:hover,
div.elementor-widget-button .elementor-button:hover {
    background-color: #fde428;
    color: #002e5b;
}

.elementor-default .elementor-text-editor ul:not(.elementor-editor-element-settings) li:before,
.elementor-default .elementor-widget-text-editor ul:not(.elementor-editor-element-settings) li:before {
    color: #6c98e1;
}

.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title,
.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title {
    background-color: #fde428;
}

.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title,
.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title a {
    color: #002e5b;
}

.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title.elementor-active,
.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active {
    background-color: #002e5b;
}

.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title.elementor-active,
.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active a {
    color: #fde428;
}

.radial-progress .circle .mask .fill {
    background-color: #fde428;
}



.vue_is_disabled {
    display: none;
}



.woocommerce-product-gallery {
    opacity: 1 !important;
}



.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}



body,
body .vc_general.vc_btn3 small,
.vc_testimonials.style_4.navigation-arrows .vc_testimonials_carousel_wr .item .testimonial_info,
.default_widgets .widget.widget_nav_menu ul li .children li,
.default_widgets .widget.widget_categories ul li .children li,
.default_widgets .widget.widget_product_categories ul li .children li,
.stm_sidebar .widget.widget_nav_menu ul li .children li,
.stm_sidebar .widget.widget_categories ul li .children li,
.stm_sidebar .widget.widget_product_categories ul li .children li,
.shop_widgets .widget.widget_nav_menu ul li .children li,
.shop_widgets .widget.widget_categories ul li .children li,
.shop_widgets .widget.widget_product_categories ul li .children li,
body.header_style_4 .header_top .icon_text .text strong {
    font-family: Poppins;
}

.elementor-progress-text,
.elementor-tab-title a,
.consulting_heading_font,
.elementor-widget-wp-widget-nav_menu ul li,
.elementor-button-text,
.elementor-tab-title h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.stm_works_wr.grid_with_carousel .owl-stage-outer .info .title,
.stocks_table .single-item div.exchange_box .stock-exchange,
.stm-header__hb .stm-navigation__default ul li,
.stm_contacts_widget,
.vc_testimonials.style_4.navigation-bullets .vc_testimonials_carousel_wr .item>p,
.vc_testimonials.style_4.navigation-arrows .vc_testimonials_carousel_wr .item>p,
.icon_box.style_1.icon_left p,
.stm_pricing_plan .top .title,
.stm_pricing_plan .top .price,
.stm_pricing_plan .top .subtitle,
.stm_pricing_plan .top .stm_label,
.top_nav .top_nav_wrapper>ul,
.top_nav .icon_text strong,
.stm_testimonials .item .testimonial-info .testimonial-text .name,
.stats_counter .counter_title,
.stm_contact .stm_contact_info .stm_contact_job,
.vacancy_table_wr .vacancy_table thead th,
.testimonials_carousel .testimonial .info .position,
.testimonials_carousel .testimonial .info .company,
.stm_gmap_wrapper .gmap_addresses .addresses .item .title,
.company_history>ul>li .year,
.stm_contacts_widget,
.stm_works_wr.grid .stm_works .item .item_wr .title,
.stm_works_wr.grid_with_filter .stm_works .item .info .title,
body .vc_general.vc_btn3,
.consulting-rev-title,
.consulting-rev-title-2,
.consulting-rev-title-3,
.consulting-rev-text,
body .vc_tta-container .vc_tta.vc_general.vc_tta-tabs.theme_style .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab a,
strong,
b,
.button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce input.button.alt,
.request_callback p,
ul.comment-list .comment .comment-author,
.page-numbers .page-numbers,
#footer .footer_widgets .widget.widget_recent_entries ul li a,
.default_widgets .widget.widget_nav_menu ul li,
.default_widgets .widget.widget_categories ul li,
.default_widgets .widget.widget_product_categories ul li,
.stm_sidebar .widget.widget_nav_menu ul li,
.stm_sidebar .widget.widget_categories ul li,
.stm_sidebar .widget.widget_product_categories ul li,
.shop_widgets .widget.widget_nav_menu ul li,
.shop_widgets .widget.widget_categories ul li,
.shop_widgets .widget.widget_product_categories ul li,
.default_widgets .widget.widget_recent_entries ul li a,
.stm_sidebar .widget.widget_recent_entries ul li a,
.shop_widgets .widget.widget_recent_entries ul li a,
.staff_bottom_wr .staff_bottom .infos .info,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce ul.product_list_widget li .product-title,
.woocommerce ul.products li.product .price,
.woocommerce a.added_to_cart,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product form.cart .variations label,
.woocommerce table.shop_table th,
.woocommerce-cart table.cart th.product-name a,
.woocommerce-cart table.cart td.product-name a,
.woocommerce-cart table.cart th .amount,
.woocommerce-cart table.cart td .amount,
.stm_services .item .item_wr .content .read_more,
.staff_list ul li .staff_info .staff_department,
.stm_partner.style_2 .stm_partner_content .position,
.comment-body .comment-text ul li,
body.header_style_4 .header_top .icon_text.big .text strong,
.info_box .read_more,
.stm_services_tabs .service_tab_item .service_name,
.stm_services_tabs .services_categories ul li a,
.stm_services_tabs .service_tab_item .service_cost,
.vc_custom_heading .subtitle,
.stm_gmap_wrapper .gmap_addresses .addresses .item .title,
.info_box h4,
.testimonials_carousel.style_2 .item .testimonial-info .testimonial-text .name,
.staff_carousel_item .staff_department,
body.header_style_5 .header_top .info-text strong,
.stm_works_wr.grid_2.style_1 .stm_works .item .item_wr .title,
.stm_works_wr.grid_2.style_2 .stm_works .item .item_wr .title,
.stm_works_wr.grid_with_filter.style_1 .stm_works .item .item_wr .title,
.stm_works_wr.grid_with_filter.style_2 .stm_works .item .item_wr .title,
body.header_style_7 .side_nav .main_menu_nav>li>a,
body.header_style_7 .side_nav .main_menu_nav>li ul li a,
body.header_style_5 .header_top .info-text b {
    font-family: Poppins;
}

h1,
.h1 {
    font-size: 52px;
}

h1,
.h1 {
    line-height: 62px;
}

h1,
.h1 {
    text-transform: none;
}

h2,
.h2 {
    font-weight: 700;
}

h2,
.h2 {
    font-size: 36px;
}

h2,
.h2 {
    line-height: 38px;
}

h3,
.h3 {
    font-weight: 600;
}

h3,
.h3 {
    font-size: 30px;
}

h3,
.h3 {
    line-height: 38px;
}

h4,
.h4 {
    font-weight: 700;
}

h4,
.h4 {
    font-size: 28px;
}

h4,
.h4 {
    line-height: 34px;
}

h5,
.h5 {
    font-weight: 700;
}

h5,
.h5 {
    font-size: 22px;
}

h5,
.h5 {
    line-height: 28px;
}

h6,
.h6 {
    font-weight: 700;
}

h6,
.h6 {
    font-size: 20px;
}

h6,
.h6 {
    line-height: 24px;
}


.vc_custom_1609941898558 {
    margin-bottom: 0px !important;
    padding-top: 36px !important;
    background-color: #f2f2f2 !important;
}

.vc_custom_1609942182638 {
    background-color: #f2f2f2 !important;
}

.vc_custom_1609942195958 {
    background-color: #f2f2f2 !important;
}

.vc_custom_1609861415160 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    /* background-image: url(/logo/bg-why.jpg) !important; */
    /* background-position: center !important; */
    background-position: 0px -220px !important;
    height: 250px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1609935744911 {
    background-color: #ffffff !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.vc_custom_1609935729949 {
    background-color: #ffffff !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.vc_custom_1609945415017 {
    margin-top: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 40px !important;
    margin-left: 40px !important;
}

.vc_custom_1609941618695 {
    margin-top: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 40px !important;
    margin-left: 40px !important;
}

.vc_custom_1609935744911 {
    background-color: #ffffff !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.vc_custom_1609935729949 {
    background-color: #ffffff !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.vc_custom_1609942398175 {
    margin-top: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 20px !important;
    margin-left: 40px !important;
}

.vc_custom_1609941662990 {
    margin-top: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 20px !important;
    margin-left: 40px !important;
}

.vc_custom_1609935144668 {
    margin-bottom: 0px !important;
}


    .wpb_animate_when_almost_visible {
        opacity: 1;
    }


a{
    text-decoration: none !important;
}

a:hover {
    color: #f08c25 !important;
}
